<!-- File to put under .m2 directory to allow repository jar managements-->
<settings>
    <profiles>
        <profile>
            <id>repo_read</id>
            <activation>
                <property>
                    <name>!dev</name>
                </property>
            </activation>
            <properties>
                <repoReadUrl>https://mymavenrepo.com/repo/8lJ7RC5bzCV925tRO1LV/</repoReadUrl>
            </properties>
        </profile>
        <profile>
            <id>repo_write</id>
            <activation>
                <property>
                    <name>!dev</name>
                </property>
            </activation>
            <properties>
                <repoWriteUrl>https://mymavenrepo.com/repo/kvrygerMv0rP2Y3hUevF/</repoWriteUrl>
            </properties>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>repoReadUrl</id>
            <username>myMavenRepo</username>
            <password>123Stella</password>
        </server>
        <server>
            <id>repoWriteUrl</id>
            <username>myMavenRepo</username>
            <password>123Stella</password>
        </server>
    </servers>
</settings>