<settings>
    <profiles>
        <profile>
            <id>repo_read</id>
            <activation>
                <property>
                    <name>!dev</name>
                </property>
            </activation>
            <properties>
                <myMavenRepoReadUrl>https://mymavenrepo.com/repo/8lJ7RC5bzCV925tRO1LV/</myMavenRepoReadUrl>
            </properties>
        </profile>
        <profile>
            <id>repo_write</id>
            <activation>
                <property>
                    <name>!dev</name>
                </property>
            </activation>
            <properties>
                <myMavenRepoWriteUrl>https://mymavenrepo.com/repo/kvrygerMv0rP2Y3hUevF/</myMavenRepoWriteUrl>
            </properties>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>myMavenRepoRead</id>
            <username>myMavenRepo</username>
            <password>123Stella</password>
        </server>
        <server>
            <id>myMavenRepoWrite</id>
            <username>myMavenRepo</username>
            <password>123Stella</password>
        </server>
    </servers>
</settings>